<div class="bgImg"></div>
<div class="loginWrapper">
  <div class="loginBox">
      <h1 class="loginFormTitle">Zaloguj się</h1>
    <form class="loginForm" (ngSubmit)="submit(loginForm)" #loginForm="ngForm">
        <input ngModel name="emailInput" type="email" class="textInput" placeholder="Email" required
        pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
        <p *ngIf="!loginForm.controls.emailInput?.valid &&
                      !loginForm.controls.emailInput?.untouched" class="validationErrorMsg">Podaj email</p>
        <input ngModel name="passwordInput" type="password" class="textInput" placeholder="Hasło" required>
        <p *ngIf="!loginForm.controls.passwordInput?.valid &&
                      !loginForm.controls.passwordInput?.untouched" class="validationErrorMsg">Podaj hasło</p>
        <button type="submit" class="btn primaryBtn">Zaloguj</button>
    </form>
  </div>
</div>
